<h1><%= @notification.receiver %></h1>
<h1><%= @notification.text_field %></h1>
<h1><%= @notification.user_id %></h1>

<p><%= link_to "Вернуться к пользователю", show_user_path(@notification.receiver) %></p>



