<h1>Редактирование пользователя</h1>

<%= form_with(url: "/update_user/#{@user.id}", method: :patch, local: true) do |form| %>
  <div>
    <%= form.label :income, "Доход (руб.)", style: "display: block" %>
    <%= form.text_field :income %>
  </div>
  <div>
    <%= form.submit "Добавить", class: "btn btn-primary" %>
  </div>
<% end %>

