<%= link_to "Пользователи", users_list_path %>
<%= link_to "Недвижимость", estates_list_path %>
<%= link_to "Транспортные средства", vehicles_list_path %>
<%= link_to "Органнизации", organizations_list_path %>

<div id="index">

</div>