<%= paginate @users %>

<div id="index">
  <% @users.each do |user| %>
    <div>
      User
      <p>
        <%= link_to user.full_name, show_user_path(user.id) %>
      </p>
      <p>
        <%= user.inn %>
      </p>
    </div>
  <% end %>
</div>

<%= paginate @users %>