<%= link_to "Пользователи", list_path('users') %>
<%= link_to "Недвижимость", list_path('estates') %>
<%= link_to "Транспортные средства", list_path('vehicles') %>

<div id="index">
  <%= render partial: 'users' %>
</div>