<footer class="footer">
  <nav>
    <a><%= link_to "О сервисе", "#" %></a>
    <a><%= link_to "Контакты", "#" %></a>
    <ul class="nav navbar-nav navbar-right">
      <li><%= link_to "О сервисе", "#" %></li>
      <li><%= link_to "Конакты", "#" %></li>
    </ul>
  </nav>
</footer>